<h3 class="ui header">{{t "forms.i-i-s-test-животные-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодВида
      class=(if (v-get validationModel "кодВида" "isInvalid") "error")
      label=(t "forms.i-i-s-test-животные-e.кодВида-caption")
      data-test-i-i-s-test-животные-e-кодВида=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодВида" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерЖивотного
      class=(if (v-get validationModel "номерЖивотного" "isInvalid") "error")
      label=(t "forms.i-i-s-test-животные-e.номерЖивотного-caption")
      data-test-i-i-s-test-животные-e-номерЖивотного=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерЖивотного" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test-животные-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="отчество"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-test-животные-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-test-животные-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.табличНомер
      class=(if (v-get validationModel.сотрудники "табличНомер" "isInvalid") "error")
      label=(t "forms.i-i-s-test-животные-e.сотрудники.табличНомер-caption")
      data-test-i-i-s-test-животные-e-сотрудники-табличНомер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "табличНомер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test-животные-e.сведения-caption"}}</label>
    {{flexberry-groupedit
      componentName="сведенияGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.сведения
      content=model.сведения
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "сведения" "isInvalid") "error")
      data-test-i-i-s-test-животные-e-сведения=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сведения" "message")}}
  </div>
</form>
